.trail {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    animation: fadeOut 0.5s ease forwards;
    z-index: 999;
    filter: blur(2px)
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 0;
    }
  }